---
layout: page
---

<section aria-labelledby="tag-collection-heading">
  <ul class="posts__list">
    {% assign sortedPosts = site.posts | sort: 'title' %}
    {% for post in sortedPosts %}
    {% if post.tags contains page.tag %}
    <li class="posts__item">
      <a href="{{ post.url | relative_url }}">
        <span class="datebox" aria-label="Published {{ post.date | date: '%B %d, %Y' }}">{{ post.date | date: '%Y–%b–%d'
          }}</span></a>
      <a class="posts__link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>

</section>
